Backup workflows to git repository on Github bk.json
{"createdAt":"2024-12-08T22:05:50.256Z","updatedAt":"2024-12-08T22:08:09.000Z","id":"qgemoXktfM0JY1bJ","name":"Backup workflows to git repository on Github bk","active":true,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"516715b3-c669-4f67-a10e-e873246d7960","name":"GitHub","type":"n8n-nodes-base.github","position":[1300,320],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"creamofclubs"},{"name":"repo.name","value":"n8nbackup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"5e763a5f-e365-41e6-9511-5f6e2c07dc04","name":"Globals","type":"n8n-nodes-base.set","position":[600,240],"typeVersion":1},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"id":"5bfb5ab6-a023-4c59-ac45-536a6eaf7931","name":"n8n","type":"n8n-nodes-base.n8n","position":[840,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"xjxVIsirkZ1vwjP5","name":"n8n account"}}},{"parameters":{"options":{}},"id":"a5760e59-5169-405e-96f9-e7c9cdf4a946","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1060,240],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"25ae71f9-5599-4ff5-b232-2964434b608e","name":"If","type":"n8n-nodes-base.if","position":[1500,320],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"a335df54-f230-4190-bf37-ed238d8c349e","name":"If1","type":"n8n-nodes-base.if","position":[2380,600],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"7911d34d-0855-48a2-bc74-3ee19b1bfae2","name":"Code","type":"n8n-nodes-base.code","position":[2060,300],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"f9cbe0a2-db40-419b-a088-64358ba04465","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[1680,480],"typeVersion":1,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"243dc7c9-a5b9-4d83-85f1-f8a9762a7bf5","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[2740,800],"typeVersion":1,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"2d97a2dc-d202-4293-9c86-0e045bcc259e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[380,240],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"56fb1b13-98c9-467b-84ac-e4d86174b4db","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2900,820],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"67caf511-2638-405b-9d51-fc34316ddf11","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2520,600],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"284868aa-a324-40ce-b75a-fb5f692f3e3a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1800,500],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"6d428158-73bd-422e-8aef-82ce090b829c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1500,220],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"b9d377c9-e782-46d7-829e-aca092a82ea8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2000,200],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"ce1ef85a-7747-4082-9bd1-2b63ea913acb","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[780,140],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"3b8f34ad-7245-4177-8441-d9875f80228b","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[520,380],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateId":"2532"},"pinData":{},"versionId":"1e0291e9-e246-4adf-9f14-0fdcac0485e6","triggerCount":1,"tags":[]}