GetWeather2024-12-07T00:02:58.988Z.json
[{"json":{"createdAt":"2024-12-07T00:02:58.988Z","updatedAt":"2024-12-08T21:46:34.000Z","id":"73oRLNdKh8Ivfgv1","name":"GetWeather","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"8b9c15c3-a06f-40d0-a33e-0e2379e4eeed","name":"Schedule Trigger"},{"parameters":{"operation":"5DayForecast","cityName":"castleford","language":"en"},"type":"n8n-nodes-base.openWeatherMap","typeVersion":1,"position":[220,0],"id":"48ed062c-4c47-41a6-a857-9f180d71dda2","name":"OpenWeatherMap","credentials":{"openWeatherMapApi":{"id":"67uaR30LKuBcOAO1","name":"OpenWeatherMap account"}}},{"parameters":{"jsCode":"const input = items[0].json; \nconst entries = input.list || []; // Adjust to match your JSON structure\nreturn entries.map(entry => ({ json: entry }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,0],"id":"63b0c188-b11b-47d2-bf82-88edba5216de","name":"Code"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"applKEn03UJQRKT60","mode":"list","cachedResultName":"Weather5Day","cachedResultUrl":"https://airtable.com/applKEn03UJQRKT60"},"table":{"__rl":true,"value":"tblhKVsyiBNvmp6IT","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/applKEn03UJQRKT60/tblhKVsyiBNvmp6IT"},"columns":{"mappingMode":"defineBelow","value":{"Temp":"={{ $json.main.temp }}","min":"={{ $json.main.temp_min }}","max":"={{ $json.main.temp_max }}","dt":"={{ $json.dt }}","Date":"={{ $json.dt_txt }}","locId":"={{ $('OpenWeatherMap').item.json.city.id }}"},"matchingColumns":["dt","locId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"dt","displayName":"dt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"locId","displayName":"locId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Temp","displayName":"Temp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"min","displayName":"min","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"max","displayName":"max","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[660,0],"id":"e6755a40-6840-422a-af36-3bff3a7259ad","name":"AddWeather","credentials":{"airtableTokenApi":{"id":"7ywmWSDhM13OohcG","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"applKEn03UJQRKT60","mode":"list","cachedResultName":"Weather5Day","cachedResultUrl":"https://airtable.com/applKEn03UJQRKT60"},"table":{"__rl":true,"value":"tblqXxiZyZh8zu88v","mode":"list","cachedResultName":"Table 2","cachedResultUrl":"https://airtable.com/applKEn03UJQRKT60/tblqXxiZyZh8zu88v"},"columns":{"mappingMode":"defineBelow","value":{"locId":"={{ $json.city.id }}","Lat":"={{ $json.city.coord.lat }}","Location":"={{ $json.city.name }}","Lon":"={{ $json.city.coord.lon }}"},"matchingColumns":["locId"],"schema":[{"id":"locId","displayName":"locId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lat","displayName":"Lat","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Lon","displayName":"Lon","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[460,-320],"id":"6658b78d-a118-45c0-a643-68d29188d178","name":"AddLocation","credentials":{"airtableTokenApi":{"id":"7ywmWSDhM13OohcG","name":"Airtable Personal Access Token account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"OpenWeatherMap","type":"main","index":0}]]},"OpenWeatherMap":{"main":[[{"node":"AddLocation","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AddWeather","type":"main","index":0}]]},"AddWeather":{"main":[[]]},"AddLocation":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Europe/London","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"a17c0f47-7421-4ab5-aaca-ea00eaf426ce","triggerCount":1,"tags":[]},"pairedItem":{"item":0}},{"json":{"createdAt":"2024-12-07T00:21:26.002Z","updatedAt":"2024-12-08T22:35:03.000Z","id":"DM75mMGKqgWtJwR5","name":"Backup workflows to git repository on Github","active":true,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json.name}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b09ae4c6-ad75-4b3b-a78a-4cc2d48b2d24","name":"GitHub","type":"n8n-nodes-base.github","position":[1300,320],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"creamofclubs"},{"name":"repo.name","value":"n8nbackup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"639582ef-f13e-4844-bd10-647718079121","name":"Globals","type":"n8n-nodes-base.set","position":[600,240],"typeVersion":1},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"id":"9df89713-220e-43b9-b234-b8f5612629cf","name":"n8n","type":"n8n-nodes-base.n8n","position":[840,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"xjxVIsirkZ1vwjP5","name":"n8n account"}}},{"parameters":{"options":{}},"id":"43a60315-d381-4ac4-be4c-f6a158651a00","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1060,240],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"41a7da89-1c8c-4100-8c30-d0788962efc1","name":"If","type":"n8n-nodes-base.if","position":[1500,320],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"ab9246eb-a253-4d76-b33b-5f8f12342542","name":"If1","type":"n8n-nodes-base.if","position":[2380,600],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"72e4a5a4-6dfe-4b5c-b57b-7c1c9625e967","name":"Code","type":"n8n-nodes-base.code","position":[2060,300],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json.name}}.json","fileContent":"=","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"68f14ac5-14d6-432e-9e6b-25df610eadac","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[1680,480],"typeVersion":1,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"e50f00a3-292c-4285-b767-8d6ee4606575","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[2740,800],"typeVersion":1,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"4b2d375c-a339-404c-babd-555bd2fc4091","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[380,240],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"ea026e96-0db1-41fd-b003-2f2bf4662696","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2900,820],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"9c402daa-6d03-485d-b8a0-58f1b65d396d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2520,600],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"1d9216d9-bf8d-4945-8a58-22fb1ffc9be8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1800,500],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"60a3953b-d9f1-4afd-b299-e314116b96c6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1500,220],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"6df689fb-cb49-4634-9d1e-59648a1e7219","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2000,200],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"f2340ad0-71a1-4c74-8d90-bcb974b8b305","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[780,140],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"617bea19-341a-4e9d-b6fd-6b417e58d756","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[520,380],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateId":"2532"},"pinData":{},"versionId":"417f45f8-cfbc-4a79-a479-0021e82965cc","triggerCount":1,"tags":[]},"pairedItem":{"item":0}},{"json":{"createdAt":"2024-12-08T23:29:42.540Z","updatedAt":"2024-12-08T23:39:22.000Z","id":"slWuTkt69T3rYr7Z","name":"test LLM Chain","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"01210b4e-8b30-47a3-b9b8-c95c30a20029","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[200,0],"id":"9061e4c2-de11-4a27-b19c-64439a62029c","name":"Basic LLM Chain"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[300,220],"id":"8b447f20-16ed-43a3-8fd9-b8e01d4872fa","name":"Groq Chat Model","credentials":{"groqApi":{"id":"xUhnv9v8ixXrK7SQ","name":"Groq account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f4c2c99b-a94a-45ef-97a6-4aa6beafa5e1","triggerCount":0,"tags":[]},"pairedItem":{"item":0}},{"json":{"createdAt":"2024-12-19T20:05:16.769Z","updatedAt":"2024-12-19T23:20:45.000Z","id":"xVRj1gJo5DZx9U61","name":"Back Up Your n8n Workflows To Github","active":false,"nodes":[{"parameters":{},"id":"421824c2-59a2-441b-aacc-7dadf2ec153b","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[860,320],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"c6024a57-1957-4714-84e3-8d326c83cd89","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[260,680],"typeVersion":1},{"parameters":{},"id":"07691901-a8d2-4891-860b-1d672361021b","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[440,1080],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"2b1dd138-7872-42ea-9882-8750ef4cf227","name":"n8n","type":"n8n-nodes-base.n8n","position":[1260,420],"typeVersion":1,"credentials":{"n8nApi":{"id":"xjxVIsirkZ1vwjP5","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"96c0c6a7-2a11-441d-8177-e0a18030daf9","name":"Return","type":"n8n-nodes-base.set","position":[2100,900],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"6715d1ff-a1f0-4e1a-b96e-f680d1495047","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1060,780],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"443b18e8-c05b-444f-b323-dea0b3041939","name":"If file too large","type":"n8n-nodes-base.if","position":[820,800],"typeVersion":2},{"parameters":{},"id":"e460a2cd-f7af-4551-8ea2-84d9b9e5cb7f","name":"Merge Items","type":"n8n-nodes-base.merge","position":[820,1060],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"f795180a-66aa-4a86-acb0-96cf8c487db0","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1020,1060],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"30e7d6fc-327e-4693-95ce-376a3b1f145c","name":"Check Status","type":"n8n-nodes-base.switch","position":[1420,1060],"typeVersion":1},{"parameters":{},"id":"36f12309-c7fe-446f-9571-bd1005c18ed8","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1640,900],"typeVersion":1},{"parameters":{},"id":"45f0eaa7-259b-4908-b567-af2b3b5abb6d","name":"File is different","type":"n8n-nodes-base.noOp","position":[1640,1060],"typeVersion":1},{"parameters":{},"id":"d16ec06b-7a3f-486e-8328-935ed3b4d565","name":"File is new","type":"n8n-nodes-base.noOp","position":[1640,1260],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"cdc7f306-b7d2-4de1-8e44-0bd8d49a679f","name":"Create new file","type":"n8n-nodes-base.github","position":[1860,1260],"typeVersion":1,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"9785333a-4a86-448d-afc2-58b0aa50ea96","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1860,1060],"typeVersion":1,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"806db72c-c9f6-461d-be1a-1e6867a25382","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1460,420],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"e5c433e4-bf56-4a0a-906c-7d74f6fe7287","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[860,520],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"f6b566cb-0a15-4792-ba27-d6cd2a6c9453","name":"Create sub path","type":"n8n-nodes-base.set","position":[1220,1060],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"9e2412f6-df25-4c12-8faf-0200558b537c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"00fdb977-4f3e-49f6-81c3-bc7f9520914f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[820,240],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#notifications","mode":"name"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"0c00a374-566a-49c7-80de-66a991c4bf69","name":"Starting Message","type":"n8n-nodes-base.slack","position":[1100,420],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2,"credentials":{"slackApi":{"id":"pWoqe2dblzDoyLAM","name":"Slack account"}}},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"eb7d15be-7f5d-4e39-837b-06d740685af3","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1680,440],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"c831a0eb-95e1-46b3-bbf8-5d5bd928ca0a","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1680,260],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2,"credentials":{"slackApi":{"id":"pWoqe2dblzDoyLAM","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"00864cb8-c8e4-4324-be1b-7d093e1bc3bf","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1880,460],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2,"credentials":{"slackApi":{"id":"pWoqe2dblzDoyLAM","name":"Slack account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{$('Config').item.json.repo_owner}}","mode":"name"},"repository":{"__rl":true,"value":"={{$('Config').item.json.repo_name}}","mode":""},"filePath":"={{$('Config').item.json.repo_path}}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"e4d70af5-5c21-4340-8054-7ba0203f3ee1","name":"Get file data","type":"n8n-nodes-base.github","position":[620,800],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"Hmd1IRWAVRFGcKDM","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"661f93bf-ef50-4fab-a134-9f5d71c7ee01","name":"repo_owner","value":"creamofclubs","type":"string"},{"id":"d99d3c31-112c-444c-a6cc-6cf9a98319e8","name":"repo_name","value":"n8nbackup","type":"string"},{"id":"f5445ab3-ac47-4ba3-97e0-cbc4893a4ac8","name":"repo_path","value":"https://github.com/creamofclubs/n8nbackup","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"42ad4762-26fb-4686-9016-729e95c95324","name":"Config","type":"n8n-nodes-base.set","position":[640,1080],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"1534"},"pinData":{},"versionId":"38c2807e-c337-4f9d-a5c8-d4b11d5124a7","triggerCount":0,"tags":[]},"pairedItem":{"item":0}}]